h1 {
    font-weight: bold;
    font-family: fantasy;
    font-size: 60px;
    color: gold;
}

h3 {
    font-size: 30px;
    font-family: monospace;
    color: gold;

}

body {
    background-color:crimson;
}

p {
    font-family: Arial, Helvetica, sans-serif;

}

#habil-style{
    font-family: cursive;
    font-size: 20px;
}

#melhorhabi-style{
    font-weight: bold;
    font-family: cursive;
    color: grey;
}

.list-style{
    font-style: italic;
    color: mediumblue;

}

.nacid-style{
    font-style: italic;
    font-family: sans-serif;
    text-decoration: underline;
    color: mediumturquoise;
}